@import-normalize ;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}
body{
  margin: 0;
  font-family: 'Poppins';
  background-color: #393939;
  color: #EEEEEE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: inherit;
  text-decoration: none;
}
input, button{
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wave{
  position: fixed;
  top: 0;
  right: 0;
}

.reco-input-container>input{
  width: 50px;
  padding: 0 .3em;
  border: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}